<%= link_to  ' |Новая статья|', new_article_path %>
<h1>Статьи</h1>


<% @articles.each do |article| %>

<h2>  <%= link_to article.title, article_path(article) %>
</h2> <%= link_to 'Изменить', edit_article_path(article) %>
<%= link_to 'Удалить', article_path(article), method: :delete, data: {confirm: 'Вы уверенны?'} %>

<% end %>

<h5>чтобы подключит функцию удаления комментарьев нужно расскомментировать блок кода в show.html.erb</h5>
